@font-face {
    font-family: 'quartz';
    src: url('attributes/QuartzoBold-W9lv.ttf');
}
body{
  margin: 0;
  padding: 0;
  background-color: #283457;
}

#title{
  color: white;
  font-family: quartz;
  font-size: 130%;
  width: 100%;
  padding-top: 2%;
  text-align: center;
  height: 2%;
  text-decoration: underline;
}
